html, body, div, h1, h2, h3, p, form, input, button {
    margin: 0px;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: Arial, sans-serif;
	vertical-align: baseline;    
    box-sizing: border-box;
    
}

#header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}
#wrapper {
    background-color: #d81a1a;
    padding: 20px;
    text-align: center;
    background-color: #333;
    background-image:url(../images/bakery-signature-loaf_c.png);
    background-size: cover;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 4em;
    color: #333;
    background-color: #e7cda6;
}

.logo {
    width: 2em; 
    height: auto; 
    display: block;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 2.5 em;
}

nav {
    background-color: #70733;
    height: 4rem;
    line-height: 4rem;
    margin: .5rem auto 0 auto;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    flex-direction: column;
    display: flex;
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    display: block;
    width: 6em;
    padding: 1.5rem;
    text-align: center;
    background-color: #6d5a04;
    color: white;
    flex: 0 1 auto;
    border: 1px solid #4907ff;

}

@media  screen and (min-width: 768px) {
    nav ul{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        justify-content: space-evenly;
    }
}



p {
    padding: 10px 0;
    font-size: 1.5em;
    line-height: 1.6em;
    color: #333;
}
img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}